*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 254, 254);
    margin: 0;
}
body ul {
    list-style: none;
    padding: 0%;
}

section {
    scroll-margin-top: 100px;
}

.cabecera {
    width: 100%;
    position: fixed;
    font-family: sans-serif;
    display: flex;
    background-color:rgb(255, 255, 255);
    color: black;
    justify-content: space-between;
    border-bottom: 1px rgba(202, 202, 202,0.3) solid;
}
.cuerpo>div {
    margin: 10px;
}
.contenedor {
    display: flex;
    padding-right: 10px;
}
.contenedor>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px 7px;
    padding: 0px 5px;
    text-decoration: none;
    color: black;
}
.contenedor>a:hover {
    background-color: rgb(225, 225, 225);
}
#logo {
    font-family: 'Brush Script MT', cursive;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 1px;
    padding: 10px;
    font-size: 50px;
    color: black;
}
#foto-inicial {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("fotografias/275973053.jpg");
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'sans-serif', cursive;
    text-shadow: 2px;
    font-family: 'Brush Script MT', cursive;
    font-size: 45px;
    text-shadow: 0px 0px 5px black;
    padding: 101px 0px 0px 0px;
}
#presentacion {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#presentacion p{
    margin: 20px 0px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin: 40px;
}
#contenedorcartas {
    display: flex;
    justify-content: space-between;
    margin: 0px 20vw;
}
.carta {
    width: 200px;
    height: 150px;
    padding: 5px;
    font-weight: bold;
    border: 1px rgba(0,0,0,0.1) solid;
    border-radius: 5px;
    background-color: rgba(238, 238, 238, 0.247);
}

.carta:hover {
    background-color: #eee;
    cursor: pointer;
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

.fotos-a-expandir {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px 0px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.6s ease-out ;

}

.fotos-a-expandir img {
    border-radius: 15px;
    width: 40%;
}

.abrir_cerrar {
    max-height: 600px;
    transition: max-height 0.7s ease-in ;
    text-align: center;
    margin: 15px 0px;
}

.carrousel {
    width: 40%;
    max-width: 40%;
    overflow: hidden;
}

.grande, .grandebaño {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.7s ease;
    transform: translateX(0%);
}

.grandebaño {
    transform: translateX(0%);
}

.carrousel  .img {
    width: calc(100%/2);
}

.carrousel .puntos {
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.punto, .puntobaño {
    box-sizing: content-box;
    width: 1.25em;
    height: 1.25em;
    margin: 0 1em;
    border-radius: 50%;
    border: solid #eee 1px;
    box-shadow: #eee 0px 0px 5px;
}

.punto:hover, .puntobaño:hover {
    background-color: rgba(187, 187, 187, 0.336);
    transition: all 0.5s ease;
    cursor: pointer;
}

.activo {
    background-color: rgb(187, 187, 187);
}

#contenedor-ubicacion {
    width: fit-content;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
    border: 1px #eee solid;
    justify-content: center;
}

#contenedor-ubicacion-texto>h4 {
    text-align: left;
    font-family: sans-serif;
    padding: 10px 120px 10px 10px;
}

#contenedor-ubicacion-texto li {
    text-align: left;
    font-family: sans-serif;
    padding: 10px 120px 10px 10px;
}

#contenedor-ubicacion-texto>h3 {
    text-align: center;
    font-family: sans-serif;
}

#contenedor-ubicacion-texto h3 {
    text-align: center;
}

#contenedor-mapa {
    align-content: center;
    text-align: center;
}
#mapa {
    display: flex;
    margin: 0;
}
#mapa:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
    transition: all 0.3s ease;
}

footer {
    margin: 5px 20px 0px 20px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    border-top: 1px rgba(85, 85, 85,0.5) solid;
}

footer>p,div {
    margin: 0;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 0px 5px 0px 5px;
}
footer a:hover {
    text-decoration: none;
    color: rgb(185, 185, 185);
    transition: color 0.3s ease;
}