*{
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 254, 254);
    margin: 0;
}
body ul {
    list-style: none;
    padding: 0%;
}
.cabecera {
    font-family: sans-serif;
    display: flex;
    background-color: rgb(58, 58, 255, 0.8);
    color: white;
    justify-content: space-between;
}
.cuerpo {
    display: flex;
    margin: 5px;
    padding: 5px;
}
.cuerpocentral {
    padding: 1px 10px;
}
.cuerpo>div {
    margin: 10px;
}
.contenedor {
    display: flex;
    padding-right: 10px;
}
.contenedor>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 7px;
    padding: 0px 5px;
    color: white;
    text-decoration: none;
}
.contenedor>a:hover {
    background-color: rgba(45, 45, 197, 0.8);
}
#logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 1px;
    padding: 10px;
    font-size: 30px;
    color: white;
}